<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add User</title>
</head>
<body>
    <h1>Add New User</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
        </div>
        <div>
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        <button type="submit">Add User</button>
    </form>
</body>
</html>
