<!DOCTYPE html>
<html lang="en">
<head>
    <title>List Vehicles</title>
</head>
<body>
    <h1>Available Vehicles</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Model</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.id }}</td>
                <td>{{ vehicle.name }}</td>
                <td>{{ vehicle.model }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
